<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- The xml configuration file is deprecated because it violates spring boot's mindset. -->
    <typeAliases>
        <package name="evolution.entity"/>
    </typeAliases>
</configuration>