<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="evolution.mapper.AnyMapper">
	<!-- Define typeAliases in either application.properties or mybatis-config.xml -->
	<!-- Don't make a mistake to customize your own SqlSessionFactoryBean, otherwise you have to define typeAliases in SqlSessionFactoryBean manually. -->
    <!-- Corresponds to AnyMapper interface. -->
    <!-- resultType can be a pojo. -->
    <select id="selectByName" resultType="AnyEntity">
        select * from any_table where name = #{name}
    </select>
   	<select id="selectAll" resultType="AnyEntity">
        select * from any_table
    </select>
    <select id="selectCount" resultType="int">
        select count(*) from any_table
    </select>
    <select id="selectNames" resultType="string">
        select name from any_table
    </select>
    <resultMap id="anyResultMap" type="AnotherEntity">
    		<id property="id" column="id" />
    		<result property="name" column="name" />
    	</resultMap>
    	<select id="selectIdsAndNames" resultMap="anyResultMap">
    		select id, name from any_table
    	</select>
</mapper>